body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav,
#nav_informacoes {
    width: 100%;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(90deg, #040FD9 0%, #040FD9 70%, #030BA6 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: -12px 19px 37px -12px rgba(0, 0, 0, 0.75);
}

#informacoes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    font-size: larger;
    color: black;

}

.detalhes_sobre {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

details {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#sobre_mim {
    padding-top: 45px;
}

summary {
    font-weight: bold;
    cursor: pointer;
}

details[open] {
    background-color: #eef;
}

.informacoes {
    margin: 0;
}

h2 {
    text-align: center;
    margin-top: 80px;
}

#informacoes_sobre {
    margin: 20px;
    display: flex;
    justify-content: center;
}

#table_sobre {
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#table_sobre th,
#table_sobre td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

#table_sobre th {
    background-color: #f4f4f4;
    color: #333;
}

#table_sobre tr:nth-child(even) {
    background-color: #f9f9f9;
}

@media screen and (max-width: 768px) {

    #table_sobre th,
    #table_sobre td {
        padding: 8px;
    }

    #table_sobre {
        width: 100%;
        margin: 0;
    }

    #table_sobre td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    #table_sobre td:before {
        content: attr(data-label);
        font-weight: bold;
        margin-top: 10px;
        display: block;
    }

    #table_sobre th {
        display: none;
    }
}