body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

nav,
#nav_informacoes {
    width: 100%;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(90deg, #00747C 0%, #00747C 20%, #00BBC9 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: -12px 19px 37px -12px rgba(0, 0, 0, 0.75);
}

#informacoes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    font-size: larger;
    color: black;
}

#nome {
    display: flex;
    justify-content: left;
}

#sobre_mim {
    padding-top: 100px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
}

#contato {
    padding-top: 100px;
    padding-left: 20px;
}

.box_shadow {
    max-width: 600px;
    margin: 50px 0 40px 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

#titulo_sou {
    background-color: #00BBC9;
    font-size: 25px;
    height: 50px;
    padding: 10px;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

#quem_sou {
    padding: 20px;
    text-align: justify;
    background-color: transparent;
}

h2 {
    text-align: center;
    margin-top: 80px;
}

summary {
    font-weight: bold;
    cursor: pointer;
}

details[open] {
    background-color: #eef;
}

#table_sobre {
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#table_sobre th,
#table_sobre td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

#table_sobre th {
    background-color: #f4f4f4;
    color: #333;
}

#table_sobre tr:nth-child(even) {
    background-color: #f9f9f9;
}

@media screen and (max-width: 768px) {

    #table_sobre th,
    #table_sobre td {
        padding: 8px;
    }

    #table_sobre {
        width: 100%;
        margin: 0;
    }

    #table_sobre td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    #table_sobre td:before {
        content: attr(data-label);
        font-weight: bold;
        margin-top: 10px;
        display: block;
    }

    #table_sobre th {
        display: none;
    }
}